@font-face {
  font-family: "TINY5x3-80";
  src: url("./fonts/TINY5x3-80.woff") format("woff"), url("./fonts/TINY5x3-80.woff2") format("woff2");
}
.button p {
  font-family: "TINY5x3-80", Arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: normal;
}

body {
  background-color: #f2f1e7;
  width: 100%;
  height: 100vh;
}
body .container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  body {
    padding: 20px;
  }
  body .container {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 1fr;
    outline: 1px solid black;
  }
}
#canvas {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.control {
  padding: 10px;
  width: 100%;
  position: absolute;
  display: grid;
  gap: 10px;
  grid-template-columns: 33fr 67fr;
}
.control .button {
  background-color: #D4D3D0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 0.1s;
  background-color: rgba(212, 211, 208, 0.8);
  border-radius: 50px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.control .button p {
  user-select: none;
  text-align: center;
  font-size: 3.4rem;
  transform: translateY(5px);
}
.control .button::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5%;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 90%;
  height: 40%;
  filter: blur(6px);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
.control .button:active {
  background-color: rgba(212, 211, 208, 0.9);
}
.control .emoji-button {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control .emoji-button #emoji {
  height: 3.4rem;
  width: 3.4rem;
  background: url("") center/cover no-repeat;
}
.control .emoji-button::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5%;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 90%;
  height: 40%;
  filter: blur(6px);
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
.control .top-control .slider-container .slider {
  display: none;
}
.control .bottom-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

@media only screen and (min-width: 992px) {
  .control {
    position: unset;
    padding: 20px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .control .button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    height: auto;
  }
  .control .button p {
    font-size: 4rem;
    transform: translateY(8px);
  }
  .control .button:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .control .emoji-button {
    margin-bottom: 40px;
    height: 140px;
  }
  .control .emoji-button #emoji {
    height: 75px;
    width: 75px;
  }
  .control .top-control .slider-container {
    display: flex;
    justify-content: center;
  }
  .control .top-control .slider-container .slider {
    display: block;
    width: 90%;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    border-top: 1px solid black;
  }
  .control .top-control .slider-container .slider::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #F2F1E7;
    box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.1), inset 0 0 15px 15px rgba(0, 0, 0, 0.05);
  }
  .control .bottom-control {
    display: block;
  }
  .control .bottom-control .save-button {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
